/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * freightdispcmp-pro:
 *   - http://typekit.com/eulas/000000000000000077359fb9
 *   - http://typekit.com/eulas/000000000000000077359fc4
 * futura-pt:
 *   - http://typekit.com/eulas/00000000000000000001008f
 *   - http://typekit.com/eulas/000000000000000000010091
 *   - http://typekit.com/eulas/000000000000000000013365
 *   - http://typekit.com/eulas/000000000000000000010097
 *   - http://typekit.com/eulas/000000000000000000012192
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-09-21 12:14:45 UTC"}*/

@import url("../p.typekit.net/p3758.css?s=1&amp;k=mzr1lbz&amp;ht=tk&amp;f=10879.10881.10884.10887.15586.44362.44366&amp;a=75054520&amp;app=typekit&amp;e=css");

@font-face {
font-family:"futura-pt";
src:url("af/2cd6bf/00000000000000000001008f/27/l7188?subset_id=2&amp;fvd=n5&amp;v=3") format("woff2"),url("af/2cd6bf/00000000000000000001008f/27/d7188?subset_id=2&amp;fvd=n5&amp;v=3") format("woff"),url("af/2cd6bf/00000000000000000001008f/27/a7188?subset_id=2&amp;fvd=n5&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"futura-pt";
src:url("af/309dfe/000000000000000000010091/27/l3b0e?subset_id=2&amp;fvd=n7&amp;v=3") format("woff2"),url("af/309dfe/000000000000000000010091/27/d3b0e?subset_id=2&amp;fvd=n7&amp;v=3") format("woff"),url("af/309dfe/000000000000000000010091/27/a3b0e?subset_id=2&amp;fvd=n7&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"futura-pt";
src:url("af/9b05f3/000000000000000000013365/27/le196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff2"),url("af/9b05f3/000000000000000000013365/27/de196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff"),url("af/9b05f3/000000000000000000013365/27/ae196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"futura-pt";
src:url("af/0c71d1/000000000000000000010097/27/l9622?subset_id=2&amp;fvd=n8&amp;v=3") format("woff2"),url("af/0c71d1/000000000000000000010097/27/d9622?subset_id=2&amp;fvd=n8&amp;v=3") format("woff"),url("af/0c71d1/000000000000000000010097/27/a9622?subset_id=2&amp;fvd=n8&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:800;font-stretch:normal;
}

@font-face {
font-family:"futura-pt";
src:url("af/c4c302/000000000000000000012192/27/le54d?subset_id=2&amp;fvd=n6&amp;v=3") format("woff2"),url("af/c4c302/000000000000000000012192/27/de54d?subset_id=2&amp;fvd=n6&amp;v=3") format("woff"),url("af/c4c302/000000000000000000012192/27/ae54d?subset_id=2&amp;fvd=n6&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"freightdispcmp-pro";
src:url("af/2baf1e/000000000000000077359fb9/30/le003?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n5&amp;v=3") format("woff2"),url("af/2baf1e/000000000000000077359fb9/30/de003?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n5&amp;v=3") format("woff"),url("af/2baf1e/000000000000000077359fb9/30/ae003?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n5&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"freightdispcmp-pro";
src:url("af/faf708/000000000000000077359fc4/30/l3b0e?subset_id=2&amp;fvd=n7&amp;v=3") format("woff2"),url("af/faf708/000000000000000077359fc4/30/d3b0e?subset_id=2&amp;fvd=n7&amp;v=3") format("woff"),url("af/faf708/000000000000000077359fc4/30/a3b0e?subset_id=2&amp;fvd=n7&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

.tk-futura-pt { font-family: "futura-pt",sans-serif; }
.tk-freightdispcmp-pro { font-family: "freightdispcmp-pro",serif; }
