.gallery__inner {
  grid-column: 2/12;
}
@media (min-width: 1024px) {
  .gallery__inner {
    grid-column: 4/23;
    margin: 0 auto;
    max-width: 1138px;
    width: 100%;
  }
}

.gallery__modal {
  height: 100%;
  max-height: 90svh;
  max-width: 880px;
  position: relative;
  width: 100%;
}
.gallery__modal img {
  height: 90svh;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

@media (max-width: 1023px) {
  .gallery__grid {
    gap: min(7.8125vw, 30px);
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}
@media (min-width: 1024px) {
  .gallery__grid {
    gap: min(4.1666666667vw, 80px);
    grid-template-columns: repeat(2, 1fr);
  }
}

.gallery__item {
  margin: unset;
}

.gallery__btn {
  overflow: hidden;
}
.gallery__btn img {
  display: block;
  height: auto;
  width: 100%;
}
@media (min-width: 1024px) {
  .gallery__btn img {
    transition: scale 0.4s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .gallery__btn:hover img {
    scale: 1.1;
  }
}

.gallery__caption {
  font-weight: 600;
  line-height: 1.4285714286;
}
@media (max-width: 1023px) {
  .gallery__caption {
    font-size: min(3.6458333333vw, 14px);
    margin-top: min(1.0416666667vw, 4px);
  }
}
@media (min-width: 1024px) {
  .gallery__caption {
    font-size: 0.875rem;
    margin-top: 0.3125vw;
  }
}