.report__inner {
  grid-column: 2/12;
}
@media (min-width: 1024px) {
  .report__inner {
    grid-column: 7/18;
  }
}

.report__ttl {
  font-weight: 500;
  line-height: 1;
  margin-bottom: -0.5rem;
  padding-bottom: 1rem;
  position: relative;
  font-size: 3.5rem;
}
@media (min-width: 1024px) {
  .report__ttl {
    font-size: 3.75rem;
    margin-bottom: 44px;
    margin-left: -4.1666666667vw;
  }
}

@-webkit-keyframes arttlin {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@keyframes arttlin {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
.report__arttl {
  align-items: center;
  background: #000;
  color: #dc0000;
  display: flex;
  font-weight: 700;
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
}
.report__arttl.-t1 {
  -webkit-animation: arttlin 0.6s 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
          animation: arttlin 0.6s 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}
.report__arttl.-t2 {
  -webkit-animation: arttlin 0.6s 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
          animation: arttlin 0.6s 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}
@media (min-width: 1024px) {
  .report__arttl.-t2 {
    width: min(482px, 25.1041666667vw);
  }
}
.report__arttl.-t3 {
  -webkit-animation: arttlin 0.6s 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
          animation: arttlin 0.6s 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}
@media (max-width: 1023px) {
  .report__arttl {
    font-size: min(8.0729166667vw, 31px);
    margin-bottom: min(1.0416666667vw, 4px);
    margin-left: min(-2.34375vw, -9px);
    padding-left: min(3.3854166667vw, 13px);
    width: min(87.7604166667vw, 337px);
  }
}
@media (min-width: 1024px) {
  .report__arttl {
    font-size: min(42px, 2.1875vw);
    height: 56px;
    margin-bottom: 6px;
    padding-left: min(30px, 1.5625vw);
  }
}

@-webkit-keyframes itemcurtain {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@keyframes itemcurtain {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
.report__reveal {
  position: relative;
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
}
.report__reveal:after {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  content: "";
  height: 100%;
  width: 100%;
  transform-origin: 100% 0;
}
.report__reveal.-reveal {
  -webkit-animation: itemcurtain 0.6s 0s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
          animation: itemcurtain 0.6s 0s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.report__reveal.-reveal::after {
  transform: scaleX(0);
  transition: transform 0.6s 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.report__lead {
  font-size: min(5.2083333333vw, 20px);
  font-weight: 700;
  line-height: 1.5;
  margin-top: min(5.859375vw, 22px);
  position: relative;
}
@media (min-width: 1024px) {
  .report__lead {
    font-size: min(26px, 1.3541666667vw);
    line-height: 1.6923076923;
    margin-top: 30px;
  }
}

.report__body {
  border-top: 1px solid #000;
  margin-top: min(11.71875vw, 45px);
  padding-top: min(11.71875vw, 45px);
}
@media (min-width: 1024px) {
  .report__body {
    margin-top: 75px;
    padding-top: 75px;
  }
}

.report__body__txt {
  font-size: min(3.6458333333vw, 14px);
  font-weight: 400;
  line-height: 1.7142857143;
}
@media (min-width: 1024px) {
  .report__body__txt {
    font-size: min(18px, 0.9375vw);
    line-height: 2.2777777778;
  }
}
.report__body__txt strong {
  font-weight: 700;
}

.report__body__ph {
  aspect-ratio: 900/601;
  margin: min(11.0677083333vw, 32px) 0;
  width: 100%;
  background-size: 0;
}
@media (min-width: 1024px) {
  .report__body__ph {
    margin: 75px 0;
  }
}
.report__body__ph.-nomt {
  margin-top: 0;
}
.report__body__ph .channel {
  background: inherit;
  background-size: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  mix-blend-mode: screen;
}
.report__body__ph .channel::before {
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  mix-blend-mode: multiply;
  position: absolute;
  right: 0;
  top: 0;
}
.report__body__ph .r {
  -webkit-animation: glitch-one 2s linear infinite alternate both;
          animation: glitch-one 2s linear infinite alternate both;
}
@-webkit-keyframes glitch-one {
  0% {
    -webkit-clip-path: polygon(0% 84.6771545162%, 100% 84.6771545162%, 100% 118.0669246239%, 0% 118.0669246239%);
            clip-path: polygon(0% 84.6771545162%, 100% 84.6771545162%, 100% 118.0669246239%, 0% 118.0669246239%);
    transform: translate(-0.095365986%, -0.8735978142%);
  }
  0.1% {
    -webkit-clip-path: polygon(0% 25.7666043946%, 100% 25.7666043946%, 100% 41.5197415298%, 0% 41.5197415298%);
            clip-path: polygon(0% 25.7666043946%, 100% 25.7666043946%, 100% 41.5197415298%, 0% 41.5197415298%);
    transform: translate(0.6174629543%, -0.6231881631%);
  }
  0.2% {
    -webkit-clip-path: polygon(0% 56.7160061867%, 100% 56.7160061867%, 100% 63.0932836579%, 0% 63.0932836579%);
            clip-path: polygon(0% 56.7160061867%, 100% 56.7160061867%, 100% 63.0932836579%, 0% 63.0932836579%);
    transform: translate(1.0839840332%, 1.7836619233%);
  }
  0.3% {
    -webkit-clip-path: polygon(0% 27.5509410537%, 100% 27.5509410537%, 100% 77.4934531332%, 0% 77.4934531332%);
            clip-path: polygon(0% 27.5509410537%, 100% 27.5509410537%, 100% 77.4934531332%, 0% 77.4934531332%);
    transform: translate(1.8389274115%, -1.0989665023%);
  }
  0.4% {
    -webkit-clip-path: polygon(0% 11.3340713597%, 100% 11.3340713597%, 100% 31.4642187758%, 0% 31.4642187758%);
            clip-path: polygon(0% 11.3340713597%, 100% 11.3340713597%, 100% 31.4642187758%, 0% 31.4642187758%);
    transform: translate(-1.5227358928%, 0.8447545979%);
  }
  0.5% {
    -webkit-clip-path: polygon(0% 36.1786717559%, 100% 36.1786717559%, 100% 68.2848876848%, 0% 68.2848876848%);
            clip-path: polygon(0% 36.1786717559%, 100% 36.1786717559%, 100% 68.2848876848%, 0% 68.2848876848%);
    transform: translate(-0.4917580511%, 0.1567875297%);
  }
  0.6% {
    -webkit-clip-path: polygon(0% 79.4548288876%, 100% 79.4548288876%, 100% 113.5677475591%, 0% 113.5677475591%);
            clip-path: polygon(0% 79.4548288876%, 100% 79.4548288876%, 100% 113.5677475591%, 0% 113.5677475591%);
    transform: translate(-1.5567767699%, 0.3467636827%);
  }
  0.7% {
    -webkit-clip-path: polygon(0% 68.6552542111%, 100% 68.6552542111%, 100% 70.7484873837%, 0% 70.7484873837%);
            clip-path: polygon(0% 68.6552542111%, 100% 68.6552542111%, 100% 70.7484873837%, 0% 70.7484873837%);
    transform: translate(-1.987554709%, 0.5790160307%);
  }
  0.8% {
    -webkit-clip-path: polygon(0% 81.4360554208%, 100% 81.4360554208%, 100% 131.1139367372%, 0% 131.1139367372%);
            clip-path: polygon(0% 81.4360554208%, 100% 81.4360554208%, 100% 131.1139367372%, 0% 131.1139367372%);
    transform: translate(-0.7669890509%, -1.9756270922%);
  }
  0.9% {
    -webkit-clip-path: polygon(0% 10.6583515269%, 100% 10.6583515269%, 100% 36.0793041322%, 0% 36.0793041322%);
            clip-path: polygon(0% 10.6583515269%, 100% 10.6583515269%, 100% 36.0793041322%, 0% 36.0793041322%);
    transform: translate(-1.0752876402%, -1.8726466659%);
  }
  1% {
    -webkit-clip-path: polygon(0% 9.1278212303%, 100% 9.1278212303%, 100% 17.104728758%, 0% 17.104728758%);
            clip-path: polygon(0% 9.1278212303%, 100% 9.1278212303%, 100% 17.104728758%, 0% 17.104728758%);
    transform: translate(1.450070828%, 1.1195708497%);
  }
  1.1% {
    -webkit-clip-path: polygon(0% 51.0344934561%, 100% 51.0344934561%, 100% 56.9461850905%, 0% 56.9461850905%);
            clip-path: polygon(0% 51.0344934561%, 100% 51.0344934561%, 100% 56.9461850905%, 0% 56.9461850905%);
    transform: translate(-1.3734728338%, -0.7365177247%);
  }
  1.2% {
    -webkit-clip-path: polygon(0% 78.5803996928%, 100% 78.5803996928%, 100% 110.354855353%, 0% 110.354855353%);
            clip-path: polygon(0% 78.5803996928%, 100% 78.5803996928%, 100% 110.354855353%, 0% 110.354855353%);
    transform: translate(1.8609307389%, 0.4440678576%);
  }
  1.3% {
    -webkit-clip-path: polygon(0% 16.4235741587%, 100% 16.4235741587%, 100% 53.6070953323%, 0% 53.6070953323%);
            clip-path: polygon(0% 16.4235741587%, 100% 16.4235741587%, 100% 53.6070953323%, 0% 53.6070953323%);
    transform: translate(-1.6797163421%, 1.7945324698%);
  }
  1.4% {
    -webkit-clip-path: polygon(0% 20.6496575139%, 100% 20.6496575139%, 100% 27.9162314391%, 0% 27.9162314391%);
            clip-path: polygon(0% 20.6496575139%, 100% 20.6496575139%, 100% 27.9162314391%, 0% 27.9162314391%);
    transform: translate(1.4204463037%, 0.6747328369%);
  }
  1.5% {
    -webkit-clip-path: polygon(0% 45.1447130335%, 100% 45.1447130335%, 100% 75.3779828745%, 0% 75.3779828745%);
            clip-path: polygon(0% 45.1447130335%, 100% 45.1447130335%, 100% 75.3779828745%, 0% 75.3779828745%);
    transform: translate(-1.4394511462%, 0.4891860491%);
  }
  1.6% {
    -webkit-clip-path: polygon(0% 85.4953455944%, 100% 85.4953455944%, 100% 88.878602762%, 0% 88.878602762%);
            clip-path: polygon(0% 85.4953455944%, 100% 85.4953455944%, 100% 88.878602762%, 0% 88.878602762%);
    transform: translate(0.6353814565%, 1.3270590011%);
  }
  1.7% {
    -webkit-clip-path: polygon(0% 3.6265904572%, 100% 3.6265904572%, 100% 19.1268381489%, 0% 19.1268381489%);
            clip-path: polygon(0% 3.6265904572%, 100% 3.6265904572%, 100% 19.1268381489%, 0% 19.1268381489%);
    transform: translate(0.5653419023%, -1.0406766785%);
  }
  1.8% {
    -webkit-clip-path: polygon(0% 58.2819706049%, 100% 58.2819706049%, 100% 102.6176136831%, 0% 102.6176136831%);
            clip-path: polygon(0% 58.2819706049%, 100% 58.2819706049%, 100% 102.6176136831%, 0% 102.6176136831%);
    transform: translate(0.8473676469%, -1.8394477999%);
  }
  1.9% {
    -webkit-clip-path: polygon(0% 20.7781378784%, 100% 20.7781378784%, 100% 44.4501888285%, 0% 44.4501888285%);
            clip-path: polygon(0% 20.7781378784%, 100% 20.7781378784%, 100% 44.4501888285%, 0% 44.4501888285%);
    transform: translate(-0.5822510235%, -0.0631407067%);
  }
  2% {
    -webkit-clip-path: polygon(0% 94.2162610809%, 100% 94.2162610809%, 100% 112.0854604007%, 0% 112.0854604007%);
            clip-path: polygon(0% 94.2162610809%, 100% 94.2162610809%, 100% 112.0854604007%, 0% 112.0854604007%);
    transform: translate(-1.5414387206%, 0.4023908912%);
  }
  2.1% {
    -webkit-clip-path: polygon(0% 96.8109303764%, 100% 96.8109303764%, 100% 125.7442858248%, 0% 125.7442858248%);
            clip-path: polygon(0% 96.8109303764%, 100% 96.8109303764%, 100% 125.7442858248%, 0% 125.7442858248%);
    transform: translate(-0.7862934255%, 0.5219805189%);
  }
  2.2% {
    -webkit-clip-path: polygon(0% 93.6813951976%, 100% 93.6813951976%, 100% 125.7137697332%, 0% 125.7137697332%);
            clip-path: polygon(0% 93.6813951976%, 100% 93.6813951976%, 100% 125.7137697332%, 0% 125.7137697332%);
    transform: translate(1.1748798019%, -1.5568120679%);
  }
  2.3% {
    -webkit-clip-path: polygon(0% 46.2138847046%, 100% 46.2138847046%, 100% 89.0062296012%, 0% 89.0062296012%);
            clip-path: polygon(0% 46.2138847046%, 100% 46.2138847046%, 100% 89.0062296012%, 0% 89.0062296012%);
    transform: translate(-0.3718906563%, -0.4404221443%);
  }
  2.4% {
    -webkit-clip-path: polygon(0% 74.5459760169%, 100% 74.5459760169%, 100% 77.5506997145%, 0% 77.5506997145%);
            clip-path: polygon(0% 74.5459760169%, 100% 74.5459760169%, 100% 77.5506997145%, 0% 77.5506997145%);
    transform: translate(-0.4859772543%, -0.8786934961%);
  }
  2.5% {
    -webkit-clip-path: polygon(0% 83.301567398%, 100% 83.301567398%, 100% 125.9994861019%, 0% 125.9994861019%);
            clip-path: polygon(0% 83.301567398%, 100% 83.301567398%, 100% 125.9994861019%, 0% 125.9994861019%);
    transform: translate(-0.1381175598%, -1.0219442539%);
  }
  2.6% {
    -webkit-clip-path: polygon(0% 25.3382448771%, 100% 25.3382448771%, 100% 38.1740254895%, 0% 38.1740254895%);
            clip-path: polygon(0% 25.3382448771%, 100% 25.3382448771%, 100% 38.1740254895%, 0% 38.1740254895%);
    transform: translate(0.1204314134%, -1.558568645%);
  }
  2.7% {
    -webkit-clip-path: polygon(0% 35.2065772673%, 100% 35.2065772673%, 100% 77.8866002883%, 0% 77.8866002883%);
            clip-path: polygon(0% 35.2065772673%, 100% 35.2065772673%, 100% 77.8866002883%, 0% 77.8866002883%);
    transform: translate(-0.4824162074%, 1.7635919009%);
  }
  2.8% {
    -webkit-clip-path: polygon(0% 85.5293904916%, 100% 85.5293904916%, 100% 94.358471614%, 0% 94.358471614%);
            clip-path: polygon(0% 85.5293904916%, 100% 85.5293904916%, 100% 94.358471614%, 0% 94.358471614%);
    transform: translate(0.519956744%, -0.7470107794%);
  }
  2.9% {
    -webkit-clip-path: polygon(0% 55.9254109098%, 100% 55.9254109098%, 100% 87.5566347461%, 0% 87.5566347461%);
            clip-path: polygon(0% 55.9254109098%, 100% 55.9254109098%, 100% 87.5566347461%, 0% 87.5566347461%);
    transform: translate(-1.7133878517%, 1.4286715559%);
  }
  3%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
@keyframes glitch-one {
  0% {
    -webkit-clip-path: polygon(0% 84.6771545162%, 100% 84.6771545162%, 100% 118.0669246239%, 0% 118.0669246239%);
            clip-path: polygon(0% 84.6771545162%, 100% 84.6771545162%, 100% 118.0669246239%, 0% 118.0669246239%);
    transform: translate(-0.095365986%, -0.8735978142%);
  }
  0.1% {
    -webkit-clip-path: polygon(0% 25.7666043946%, 100% 25.7666043946%, 100% 41.5197415298%, 0% 41.5197415298%);
            clip-path: polygon(0% 25.7666043946%, 100% 25.7666043946%, 100% 41.5197415298%, 0% 41.5197415298%);
    transform: translate(0.6174629543%, -0.6231881631%);
  }
  0.2% {
    -webkit-clip-path: polygon(0% 56.7160061867%, 100% 56.7160061867%, 100% 63.0932836579%, 0% 63.0932836579%);
            clip-path: polygon(0% 56.7160061867%, 100% 56.7160061867%, 100% 63.0932836579%, 0% 63.0932836579%);
    transform: translate(1.0839840332%, 1.7836619233%);
  }
  0.3% {
    -webkit-clip-path: polygon(0% 27.5509410537%, 100% 27.5509410537%, 100% 77.4934531332%, 0% 77.4934531332%);
            clip-path: polygon(0% 27.5509410537%, 100% 27.5509410537%, 100% 77.4934531332%, 0% 77.4934531332%);
    transform: translate(1.8389274115%, -1.0989665023%);
  }
  0.4% {
    -webkit-clip-path: polygon(0% 11.3340713597%, 100% 11.3340713597%, 100% 31.4642187758%, 0% 31.4642187758%);
            clip-path: polygon(0% 11.3340713597%, 100% 11.3340713597%, 100% 31.4642187758%, 0% 31.4642187758%);
    transform: translate(-1.5227358928%, 0.8447545979%);
  }
  0.5% {
    -webkit-clip-path: polygon(0% 36.1786717559%, 100% 36.1786717559%, 100% 68.2848876848%, 0% 68.2848876848%);
            clip-path: polygon(0% 36.1786717559%, 100% 36.1786717559%, 100% 68.2848876848%, 0% 68.2848876848%);
    transform: translate(-0.4917580511%, 0.1567875297%);
  }
  0.6% {
    -webkit-clip-path: polygon(0% 79.4548288876%, 100% 79.4548288876%, 100% 113.5677475591%, 0% 113.5677475591%);
            clip-path: polygon(0% 79.4548288876%, 100% 79.4548288876%, 100% 113.5677475591%, 0% 113.5677475591%);
    transform: translate(-1.5567767699%, 0.3467636827%);
  }
  0.7% {
    -webkit-clip-path: polygon(0% 68.6552542111%, 100% 68.6552542111%, 100% 70.7484873837%, 0% 70.7484873837%);
            clip-path: polygon(0% 68.6552542111%, 100% 68.6552542111%, 100% 70.7484873837%, 0% 70.7484873837%);
    transform: translate(-1.987554709%, 0.5790160307%);
  }
  0.8% {
    -webkit-clip-path: polygon(0% 81.4360554208%, 100% 81.4360554208%, 100% 131.1139367372%, 0% 131.1139367372%);
            clip-path: polygon(0% 81.4360554208%, 100% 81.4360554208%, 100% 131.1139367372%, 0% 131.1139367372%);
    transform: translate(-0.7669890509%, -1.9756270922%);
  }
  0.9% {
    -webkit-clip-path: polygon(0% 10.6583515269%, 100% 10.6583515269%, 100% 36.0793041322%, 0% 36.0793041322%);
            clip-path: polygon(0% 10.6583515269%, 100% 10.6583515269%, 100% 36.0793041322%, 0% 36.0793041322%);
    transform: translate(-1.0752876402%, -1.8726466659%);
  }
  1% {
    -webkit-clip-path: polygon(0% 9.1278212303%, 100% 9.1278212303%, 100% 17.104728758%, 0% 17.104728758%);
            clip-path: polygon(0% 9.1278212303%, 100% 9.1278212303%, 100% 17.104728758%, 0% 17.104728758%);
    transform: translate(1.450070828%, 1.1195708497%);
  }
  1.1% {
    -webkit-clip-path: polygon(0% 51.0344934561%, 100% 51.0344934561%, 100% 56.9461850905%, 0% 56.9461850905%);
            clip-path: polygon(0% 51.0344934561%, 100% 51.0344934561%, 100% 56.9461850905%, 0% 56.9461850905%);
    transform: translate(-1.3734728338%, -0.7365177247%);
  }
  1.2% {
    -webkit-clip-path: polygon(0% 78.5803996928%, 100% 78.5803996928%, 100% 110.354855353%, 0% 110.354855353%);
            clip-path: polygon(0% 78.5803996928%, 100% 78.5803996928%, 100% 110.354855353%, 0% 110.354855353%);
    transform: translate(1.8609307389%, 0.4440678576%);
  }
  1.3% {
    -webkit-clip-path: polygon(0% 16.4235741587%, 100% 16.4235741587%, 100% 53.6070953323%, 0% 53.6070953323%);
            clip-path: polygon(0% 16.4235741587%, 100% 16.4235741587%, 100% 53.6070953323%, 0% 53.6070953323%);
    transform: translate(-1.6797163421%, 1.7945324698%);
  }
  1.4% {
    -webkit-clip-path: polygon(0% 20.6496575139%, 100% 20.6496575139%, 100% 27.9162314391%, 0% 27.9162314391%);
            clip-path: polygon(0% 20.6496575139%, 100% 20.6496575139%, 100% 27.9162314391%, 0% 27.9162314391%);
    transform: translate(1.4204463037%, 0.6747328369%);
  }
  1.5% {
    -webkit-clip-path: polygon(0% 45.1447130335%, 100% 45.1447130335%, 100% 75.3779828745%, 0% 75.3779828745%);
            clip-path: polygon(0% 45.1447130335%, 100% 45.1447130335%, 100% 75.3779828745%, 0% 75.3779828745%);
    transform: translate(-1.4394511462%, 0.4891860491%);
  }
  1.6% {
    -webkit-clip-path: polygon(0% 85.4953455944%, 100% 85.4953455944%, 100% 88.878602762%, 0% 88.878602762%);
            clip-path: polygon(0% 85.4953455944%, 100% 85.4953455944%, 100% 88.878602762%, 0% 88.878602762%);
    transform: translate(0.6353814565%, 1.3270590011%);
  }
  1.7% {
    -webkit-clip-path: polygon(0% 3.6265904572%, 100% 3.6265904572%, 100% 19.1268381489%, 0% 19.1268381489%);
            clip-path: polygon(0% 3.6265904572%, 100% 3.6265904572%, 100% 19.1268381489%, 0% 19.1268381489%);
    transform: translate(0.5653419023%, -1.0406766785%);
  }
  1.8% {
    -webkit-clip-path: polygon(0% 58.2819706049%, 100% 58.2819706049%, 100% 102.6176136831%, 0% 102.6176136831%);
            clip-path: polygon(0% 58.2819706049%, 100% 58.2819706049%, 100% 102.6176136831%, 0% 102.6176136831%);
    transform: translate(0.8473676469%, -1.8394477999%);
  }
  1.9% {
    -webkit-clip-path: polygon(0% 20.7781378784%, 100% 20.7781378784%, 100% 44.4501888285%, 0% 44.4501888285%);
            clip-path: polygon(0% 20.7781378784%, 100% 20.7781378784%, 100% 44.4501888285%, 0% 44.4501888285%);
    transform: translate(-0.5822510235%, -0.0631407067%);
  }
  2% {
    -webkit-clip-path: polygon(0% 94.2162610809%, 100% 94.2162610809%, 100% 112.0854604007%, 0% 112.0854604007%);
            clip-path: polygon(0% 94.2162610809%, 100% 94.2162610809%, 100% 112.0854604007%, 0% 112.0854604007%);
    transform: translate(-1.5414387206%, 0.4023908912%);
  }
  2.1% {
    -webkit-clip-path: polygon(0% 96.8109303764%, 100% 96.8109303764%, 100% 125.7442858248%, 0% 125.7442858248%);
            clip-path: polygon(0% 96.8109303764%, 100% 96.8109303764%, 100% 125.7442858248%, 0% 125.7442858248%);
    transform: translate(-0.7862934255%, 0.5219805189%);
  }
  2.2% {
    -webkit-clip-path: polygon(0% 93.6813951976%, 100% 93.6813951976%, 100% 125.7137697332%, 0% 125.7137697332%);
            clip-path: polygon(0% 93.6813951976%, 100% 93.6813951976%, 100% 125.7137697332%, 0% 125.7137697332%);
    transform: translate(1.1748798019%, -1.5568120679%);
  }
  2.3% {
    -webkit-clip-path: polygon(0% 46.2138847046%, 100% 46.2138847046%, 100% 89.0062296012%, 0% 89.0062296012%);
            clip-path: polygon(0% 46.2138847046%, 100% 46.2138847046%, 100% 89.0062296012%, 0% 89.0062296012%);
    transform: translate(-0.3718906563%, -0.4404221443%);
  }
  2.4% {
    -webkit-clip-path: polygon(0% 74.5459760169%, 100% 74.5459760169%, 100% 77.5506997145%, 0% 77.5506997145%);
            clip-path: polygon(0% 74.5459760169%, 100% 74.5459760169%, 100% 77.5506997145%, 0% 77.5506997145%);
    transform: translate(-0.4859772543%, -0.8786934961%);
  }
  2.5% {
    -webkit-clip-path: polygon(0% 83.301567398%, 100% 83.301567398%, 100% 125.9994861019%, 0% 125.9994861019%);
            clip-path: polygon(0% 83.301567398%, 100% 83.301567398%, 100% 125.9994861019%, 0% 125.9994861019%);
    transform: translate(-0.1381175598%, -1.0219442539%);
  }
  2.6% {
    -webkit-clip-path: polygon(0% 25.3382448771%, 100% 25.3382448771%, 100% 38.1740254895%, 0% 38.1740254895%);
            clip-path: polygon(0% 25.3382448771%, 100% 25.3382448771%, 100% 38.1740254895%, 0% 38.1740254895%);
    transform: translate(0.1204314134%, -1.558568645%);
  }
  2.7% {
    -webkit-clip-path: polygon(0% 35.2065772673%, 100% 35.2065772673%, 100% 77.8866002883%, 0% 77.8866002883%);
            clip-path: polygon(0% 35.2065772673%, 100% 35.2065772673%, 100% 77.8866002883%, 0% 77.8866002883%);
    transform: translate(-0.4824162074%, 1.7635919009%);
  }
  2.8% {
    -webkit-clip-path: polygon(0% 85.5293904916%, 100% 85.5293904916%, 100% 94.358471614%, 0% 94.358471614%);
            clip-path: polygon(0% 85.5293904916%, 100% 85.5293904916%, 100% 94.358471614%, 0% 94.358471614%);
    transform: translate(0.519956744%, -0.7470107794%);
  }
  2.9% {
    -webkit-clip-path: polygon(0% 55.9254109098%, 100% 55.9254109098%, 100% 87.5566347461%, 0% 87.5566347461%);
            clip-path: polygon(0% 55.9254109098%, 100% 55.9254109098%, 100% 87.5566347461%, 0% 87.5566347461%);
    transform: translate(-1.7133878517%, 1.4286715559%);
  }
  3%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
.report__body__ph .r:before {
  background: #f00;
}
.report__body__ph .g {
  -webkit-animation: glitch-two 2s linear infinite alternate both;
          animation: glitch-two 2s linear infinite alternate both;
}
@-webkit-keyframes glitch-two {
  0% {
    -webkit-clip-path: polygon(0% 57.9061493314%, 100% 57.9061493314%, 100% 58.906876539%, 0% 58.906876539%);
            clip-path: polygon(0% 57.9061493314%, 100% 57.9061493314%, 100% 58.906876539%, 0% 58.906876539%);
    transform: translate(-1.6624491579%, 0.0851569612%);
  }
  0.1% {
    -webkit-clip-path: polygon(0% 51.5774140543%, 100% 51.5774140543%, 100% 95.4030430074%, 0% 95.4030430074%);
            clip-path: polygon(0% 51.5774140543%, 100% 51.5774140543%, 100% 95.4030430074%, 0% 95.4030430074%);
    transform: translate(1.9853013246%, 1.9658655476%);
  }
  0.2% {
    -webkit-clip-path: polygon(0% 39.4957113903%, 100% 39.4957113903%, 100% 65.4163992044%, 0% 65.4163992044%);
            clip-path: polygon(0% 39.4957113903%, 100% 39.4957113903%, 100% 65.4163992044%, 0% 65.4163992044%);
    transform: translate(-1.3918920723%, -1.8680163982%);
  }
  0.3% {
    -webkit-clip-path: polygon(0% 99.6350028337%, 100% 99.6350028337%, 100% 110.61147395%, 0% 110.61147395%);
            clip-path: polygon(0% 99.6350028337%, 100% 99.6350028337%, 100% 110.61147395%, 0% 110.61147395%);
    transform: translate(-1.9551726397%, -0.0787952911%);
  }
  0.4% {
    -webkit-clip-path: polygon(0% 26.3246206245%, 100% 26.3246206245%, 100% 33.0399158139%, 0% 33.0399158139%);
            clip-path: polygon(0% 26.3246206245%, 100% 26.3246206245%, 100% 33.0399158139%, 0% 33.0399158139%);
    transform: translate(-0.9826969511%, 0.6551666058%);
  }
  0.5% {
    -webkit-clip-path: polygon(0% 18.819759453%, 100% 18.819759453%, 100% 48.4488086776%, 0% 48.4488086776%);
            clip-path: polygon(0% 18.819759453%, 100% 18.819759453%, 100% 48.4488086776%, 0% 48.4488086776%);
    transform: translate(0.3704968431%, 0.0445287246%);
  }
  0.6% {
    -webkit-clip-path: polygon(0% 94.7988260423%, 100% 94.7988260423%, 100% 127.8375957842%, 0% 127.8375957842%);
            clip-path: polygon(0% 94.7988260423%, 100% 94.7988260423%, 100% 127.8375957842%, 0% 127.8375957842%);
    transform: translate(0.0304135461%, 1.3530893028%);
  }
  0.7% {
    -webkit-clip-path: polygon(0% 27.5055893234%, 100% 27.5055893234%, 100% 62.4015177644%, 0% 62.4015177644%);
            clip-path: polygon(0% 27.5055893234%, 100% 27.5055893234%, 100% 62.4015177644%, 0% 62.4015177644%);
    transform: translate(-1.248663054%, 0.0998745102%);
  }
  0.8% {
    -webkit-clip-path: polygon(0% 80.2314457989%, 100% 80.2314457989%, 100% 113.1699333916%, 0% 113.1699333916%);
            clip-path: polygon(0% 80.2314457989%, 100% 80.2314457989%, 100% 113.1699333916%, 0% 113.1699333916%);
    transform: translate(0.2207774624%, -1.8350624396%);
  }
  0.9% {
    -webkit-clip-path: polygon(0% 86.1279648183%, 100% 86.1279648183%, 100% 133.8986622491%, 0% 133.8986622491%);
            clip-path: polygon(0% 86.1279648183%, 100% 86.1279648183%, 100% 133.8986622491%, 0% 133.8986622491%);
    transform: translate(-0.5337441155%, 0.8533721549%);
  }
  1% {
    -webkit-clip-path: polygon(0% 74.0435044645%, 100% 74.0435044645%, 100% 109.2241333016%, 0% 109.2241333016%);
            clip-path: polygon(0% 74.0435044645%, 100% 74.0435044645%, 100% 109.2241333016%, 0% 109.2241333016%);
    transform: translate(1.7823862974%, 0.5918659668%);
  }
  1.1% {
    -webkit-clip-path: polygon(0% 91.5125577576%, 100% 91.5125577576%, 100% 125.3795885754%, 0% 125.3795885754%);
            clip-path: polygon(0% 91.5125577576%, 100% 91.5125577576%, 100% 125.3795885754%, 0% 125.3795885754%);
    transform: translate(-1.2801459136%, 1.4264032225%);
  }
  1.2% {
    -webkit-clip-path: polygon(0% 47.0945185908%, 100% 47.0945185908%, 100% 61.6053470733%, 0% 61.6053470733%);
            clip-path: polygon(0% 47.0945185908%, 100% 47.0945185908%, 100% 61.6053470733%, 0% 61.6053470733%);
    transform: translate(-0.2242110674%, -0.2899130094%);
  }
  1.3% {
    -webkit-clip-path: polygon(0% 98.6976966491%, 100% 98.6976966491%, 100% 100.9101694465%, 0% 100.9101694465%);
            clip-path: polygon(0% 98.6976966491%, 100% 98.6976966491%, 100% 100.9101694465%, 0% 100.9101694465%);
    transform: translate(1.2864476008%, -1.9213796537%);
  }
  1.4% {
    -webkit-clip-path: polygon(0% 13.3648271403%, 100% 13.3648271403%, 100% 56.608989002%, 0% 56.608989002%);
            clip-path: polygon(0% 13.3648271403%, 100% 13.3648271403%, 100% 56.608989002%, 0% 56.608989002%);
    transform: translate(0.6411420545%, -0.640019829%);
  }
  1.5% {
    -webkit-clip-path: polygon(0% 35.3264169968%, 100% 35.3264169968%, 100% 42.7850413101%, 0% 42.7850413101%);
            clip-path: polygon(0% 35.3264169968%, 100% 35.3264169968%, 100% 42.7850413101%, 0% 42.7850413101%);
    transform: translate(1.9553535114%, 0.8512308204%);
  }
  1.6% {
    -webkit-clip-path: polygon(0% 22.4566751223%, 100% 22.4566751223%, 100% 35.1297559779%, 0% 35.1297559779%);
            clip-path: polygon(0% 22.4566751223%, 100% 22.4566751223%, 100% 35.1297559779%, 0% 35.1297559779%);
    transform: translate(0.3516482684%, 0.4176601472%);
  }
  1.7% {
    -webkit-clip-path: polygon(0% 31.5064950183%, 100% 31.5064950183%, 100% 71.3531142873%, 0% 71.3531142873%);
            clip-path: polygon(0% 31.5064950183%, 100% 31.5064950183%, 100% 71.3531142873%, 0% 71.3531142873%);
    transform: translate(-1.3737646597%, 0.8277594263%);
  }
  1.8% {
    -webkit-clip-path: polygon(0% 7.3962396944%, 100% 7.3962396944%, 100% 11.7810293004%, 0% 11.7810293004%);
            clip-path: polygon(0% 7.3962396944%, 100% 7.3962396944%, 100% 11.7810293004%, 0% 11.7810293004%);
    transform: translate(-0.225813175%, -0.5885609491%);
  }
  1.9% {
    -webkit-clip-path: polygon(0% 81.5668819048%, 100% 81.5668819048%, 100% 110.0496664108%, 0% 110.0496664108%);
            clip-path: polygon(0% 81.5668819048%, 100% 81.5668819048%, 100% 110.0496664108%, 0% 110.0496664108%);
    transform: translate(-1.4331276508%, 0.99724821%);
  }
  2% {
    -webkit-clip-path: polygon(0% 8.314783073%, 100% 8.314783073%, 100% 29.4002881079%, 0% 29.4002881079%);
            clip-path: polygon(0% 8.314783073%, 100% 8.314783073%, 100% 29.4002881079%, 0% 29.4002881079%);
    transform: translate(-0.9091466806%, 0.1248262725%);
  }
  2.1% {
    -webkit-clip-path: polygon(0% 96.7644597219%, 100% 96.7644597219%, 100% 143.0056330937%, 0% 143.0056330937%);
            clip-path: polygon(0% 96.7644597219%, 100% 96.7644597219%, 100% 143.0056330937%, 0% 143.0056330937%);
    transform: translate(-1.4037698549%, 0.6793863197%);
  }
  2.2% {
    -webkit-clip-path: polygon(0% 88.0869796884%, 100% 88.0869796884%, 100% 132.4130043729%, 0% 132.4130043729%);
            clip-path: polygon(0% 88.0869796884%, 100% 88.0869796884%, 100% 132.4130043729%, 0% 132.4130043729%);
    transform: translate(-0.6040576202%, 0.492884704%);
  }
  2.3% {
    -webkit-clip-path: polygon(0% 5.4123853812%, 100% 5.4123853812%, 100% 34.3718921373%, 0% 34.3718921373%);
            clip-path: polygon(0% 5.4123853812%, 100% 5.4123853812%, 100% 34.3718921373%, 0% 34.3718921373%);
    transform: translate(1.0783383153%, 0.5208477793%);
  }
  2.4% {
    -webkit-clip-path: polygon(0% 57.3951955289%, 100% 57.3951955289%, 100% 95.6117596216%, 0% 95.6117596216%);
            clip-path: polygon(0% 57.3951955289%, 100% 57.3951955289%, 100% 95.6117596216%, 0% 95.6117596216%);
    transform: translate(-1.4081337648%, 1.9086318569%);
  }
  2.5% {
    -webkit-clip-path: polygon(0% 53.739492145%, 100% 53.739492145%, 100% 99.8679467322%, 0% 99.8679467322%);
            clip-path: polygon(0% 53.739492145%, 100% 53.739492145%, 100% 99.8679467322%, 0% 99.8679467322%);
    transform: translate(0.6557573297%, -0.338235303%);
  }
  2.6% {
    -webkit-clip-path: polygon(0% 44.5123874754%, 100% 44.5123874754%, 100% 75.252463618%, 0% 75.252463618%);
            clip-path: polygon(0% 44.5123874754%, 100% 44.5123874754%, 100% 75.252463618%, 0% 75.252463618%);
    transform: translate(-0.2185604115%, -0.9971381849%);
  }
  2.7% {
    -webkit-clip-path: polygon(0% 90.4360155418%, 100% 90.4360155418%, 100% 108.9096338588%, 0% 108.9096338588%);
            clip-path: polygon(0% 90.4360155418%, 100% 90.4360155418%, 100% 108.9096338588%, 0% 108.9096338588%);
    transform: translate(-1.8309518283%, -1.8112772153%);
  }
  2.8% {
    -webkit-clip-path: polygon(0% 87.341426004%, 100% 87.341426004%, 100% 108.4556114227%, 0% 108.4556114227%);
            clip-path: polygon(0% 87.341426004%, 100% 87.341426004%, 100% 108.4556114227%, 0% 108.4556114227%);
    transform: translate(1.3176214152%, -1.4681064499%);
  }
  2.9% {
    -webkit-clip-path: polygon(0% 42.2338676769%, 100% 42.2338676769%, 100% 63.1003747319%, 0% 63.1003747319%);
            clip-path: polygon(0% 42.2338676769%, 100% 42.2338676769%, 100% 63.1003747319%, 0% 63.1003747319%);
    transform: translate(-1.89156053%, 0.0692982177%);
  }
  3%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
@keyframes glitch-two {
  0% {
    -webkit-clip-path: polygon(0% 57.9061493314%, 100% 57.9061493314%, 100% 58.906876539%, 0% 58.906876539%);
            clip-path: polygon(0% 57.9061493314%, 100% 57.9061493314%, 100% 58.906876539%, 0% 58.906876539%);
    transform: translate(-1.6624491579%, 0.0851569612%);
  }
  0.1% {
    -webkit-clip-path: polygon(0% 51.5774140543%, 100% 51.5774140543%, 100% 95.4030430074%, 0% 95.4030430074%);
            clip-path: polygon(0% 51.5774140543%, 100% 51.5774140543%, 100% 95.4030430074%, 0% 95.4030430074%);
    transform: translate(1.9853013246%, 1.9658655476%);
  }
  0.2% {
    -webkit-clip-path: polygon(0% 39.4957113903%, 100% 39.4957113903%, 100% 65.4163992044%, 0% 65.4163992044%);
            clip-path: polygon(0% 39.4957113903%, 100% 39.4957113903%, 100% 65.4163992044%, 0% 65.4163992044%);
    transform: translate(-1.3918920723%, -1.8680163982%);
  }
  0.3% {
    -webkit-clip-path: polygon(0% 99.6350028337%, 100% 99.6350028337%, 100% 110.61147395%, 0% 110.61147395%);
            clip-path: polygon(0% 99.6350028337%, 100% 99.6350028337%, 100% 110.61147395%, 0% 110.61147395%);
    transform: translate(-1.9551726397%, -0.0787952911%);
  }
  0.4% {
    -webkit-clip-path: polygon(0% 26.3246206245%, 100% 26.3246206245%, 100% 33.0399158139%, 0% 33.0399158139%);
            clip-path: polygon(0% 26.3246206245%, 100% 26.3246206245%, 100% 33.0399158139%, 0% 33.0399158139%);
    transform: translate(-0.9826969511%, 0.6551666058%);
  }
  0.5% {
    -webkit-clip-path: polygon(0% 18.819759453%, 100% 18.819759453%, 100% 48.4488086776%, 0% 48.4488086776%);
            clip-path: polygon(0% 18.819759453%, 100% 18.819759453%, 100% 48.4488086776%, 0% 48.4488086776%);
    transform: translate(0.3704968431%, 0.0445287246%);
  }
  0.6% {
    -webkit-clip-path: polygon(0% 94.7988260423%, 100% 94.7988260423%, 100% 127.8375957842%, 0% 127.8375957842%);
            clip-path: polygon(0% 94.7988260423%, 100% 94.7988260423%, 100% 127.8375957842%, 0% 127.8375957842%);
    transform: translate(0.0304135461%, 1.3530893028%);
  }
  0.7% {
    -webkit-clip-path: polygon(0% 27.5055893234%, 100% 27.5055893234%, 100% 62.4015177644%, 0% 62.4015177644%);
            clip-path: polygon(0% 27.5055893234%, 100% 27.5055893234%, 100% 62.4015177644%, 0% 62.4015177644%);
    transform: translate(-1.248663054%, 0.0998745102%);
  }
  0.8% {
    -webkit-clip-path: polygon(0% 80.2314457989%, 100% 80.2314457989%, 100% 113.1699333916%, 0% 113.1699333916%);
            clip-path: polygon(0% 80.2314457989%, 100% 80.2314457989%, 100% 113.1699333916%, 0% 113.1699333916%);
    transform: translate(0.2207774624%, -1.8350624396%);
  }
  0.9% {
    -webkit-clip-path: polygon(0% 86.1279648183%, 100% 86.1279648183%, 100% 133.8986622491%, 0% 133.8986622491%);
            clip-path: polygon(0% 86.1279648183%, 100% 86.1279648183%, 100% 133.8986622491%, 0% 133.8986622491%);
    transform: translate(-0.5337441155%, 0.8533721549%);
  }
  1% {
    -webkit-clip-path: polygon(0% 74.0435044645%, 100% 74.0435044645%, 100% 109.2241333016%, 0% 109.2241333016%);
            clip-path: polygon(0% 74.0435044645%, 100% 74.0435044645%, 100% 109.2241333016%, 0% 109.2241333016%);
    transform: translate(1.7823862974%, 0.5918659668%);
  }
  1.1% {
    -webkit-clip-path: polygon(0% 91.5125577576%, 100% 91.5125577576%, 100% 125.3795885754%, 0% 125.3795885754%);
            clip-path: polygon(0% 91.5125577576%, 100% 91.5125577576%, 100% 125.3795885754%, 0% 125.3795885754%);
    transform: translate(-1.2801459136%, 1.4264032225%);
  }
  1.2% {
    -webkit-clip-path: polygon(0% 47.0945185908%, 100% 47.0945185908%, 100% 61.6053470733%, 0% 61.6053470733%);
            clip-path: polygon(0% 47.0945185908%, 100% 47.0945185908%, 100% 61.6053470733%, 0% 61.6053470733%);
    transform: translate(-0.2242110674%, -0.2899130094%);
  }
  1.3% {
    -webkit-clip-path: polygon(0% 98.6976966491%, 100% 98.6976966491%, 100% 100.9101694465%, 0% 100.9101694465%);
            clip-path: polygon(0% 98.6976966491%, 100% 98.6976966491%, 100% 100.9101694465%, 0% 100.9101694465%);
    transform: translate(1.2864476008%, -1.9213796537%);
  }
  1.4% {
    -webkit-clip-path: polygon(0% 13.3648271403%, 100% 13.3648271403%, 100% 56.608989002%, 0% 56.608989002%);
            clip-path: polygon(0% 13.3648271403%, 100% 13.3648271403%, 100% 56.608989002%, 0% 56.608989002%);
    transform: translate(0.6411420545%, -0.640019829%);
  }
  1.5% {
    -webkit-clip-path: polygon(0% 35.3264169968%, 100% 35.3264169968%, 100% 42.7850413101%, 0% 42.7850413101%);
            clip-path: polygon(0% 35.3264169968%, 100% 35.3264169968%, 100% 42.7850413101%, 0% 42.7850413101%);
    transform: translate(1.9553535114%, 0.8512308204%);
  }
  1.6% {
    -webkit-clip-path: polygon(0% 22.4566751223%, 100% 22.4566751223%, 100% 35.1297559779%, 0% 35.1297559779%);
            clip-path: polygon(0% 22.4566751223%, 100% 22.4566751223%, 100% 35.1297559779%, 0% 35.1297559779%);
    transform: translate(0.3516482684%, 0.4176601472%);
  }
  1.7% {
    -webkit-clip-path: polygon(0% 31.5064950183%, 100% 31.5064950183%, 100% 71.3531142873%, 0% 71.3531142873%);
            clip-path: polygon(0% 31.5064950183%, 100% 31.5064950183%, 100% 71.3531142873%, 0% 71.3531142873%);
    transform: translate(-1.3737646597%, 0.8277594263%);
  }
  1.8% {
    -webkit-clip-path: polygon(0% 7.3962396944%, 100% 7.3962396944%, 100% 11.7810293004%, 0% 11.7810293004%);
            clip-path: polygon(0% 7.3962396944%, 100% 7.3962396944%, 100% 11.7810293004%, 0% 11.7810293004%);
    transform: translate(-0.225813175%, -0.5885609491%);
  }
  1.9% {
    -webkit-clip-path: polygon(0% 81.5668819048%, 100% 81.5668819048%, 100% 110.0496664108%, 0% 110.0496664108%);
            clip-path: polygon(0% 81.5668819048%, 100% 81.5668819048%, 100% 110.0496664108%, 0% 110.0496664108%);
    transform: translate(-1.4331276508%, 0.99724821%);
  }
  2% {
    -webkit-clip-path: polygon(0% 8.314783073%, 100% 8.314783073%, 100% 29.4002881079%, 0% 29.4002881079%);
            clip-path: polygon(0% 8.314783073%, 100% 8.314783073%, 100% 29.4002881079%, 0% 29.4002881079%);
    transform: translate(-0.9091466806%, 0.1248262725%);
  }
  2.1% {
    -webkit-clip-path: polygon(0% 96.7644597219%, 100% 96.7644597219%, 100% 143.0056330937%, 0% 143.0056330937%);
            clip-path: polygon(0% 96.7644597219%, 100% 96.7644597219%, 100% 143.0056330937%, 0% 143.0056330937%);
    transform: translate(-1.4037698549%, 0.6793863197%);
  }
  2.2% {
    -webkit-clip-path: polygon(0% 88.0869796884%, 100% 88.0869796884%, 100% 132.4130043729%, 0% 132.4130043729%);
            clip-path: polygon(0% 88.0869796884%, 100% 88.0869796884%, 100% 132.4130043729%, 0% 132.4130043729%);
    transform: translate(-0.6040576202%, 0.492884704%);
  }
  2.3% {
    -webkit-clip-path: polygon(0% 5.4123853812%, 100% 5.4123853812%, 100% 34.3718921373%, 0% 34.3718921373%);
            clip-path: polygon(0% 5.4123853812%, 100% 5.4123853812%, 100% 34.3718921373%, 0% 34.3718921373%);
    transform: translate(1.0783383153%, 0.5208477793%);
  }
  2.4% {
    -webkit-clip-path: polygon(0% 57.3951955289%, 100% 57.3951955289%, 100% 95.6117596216%, 0% 95.6117596216%);
            clip-path: polygon(0% 57.3951955289%, 100% 57.3951955289%, 100% 95.6117596216%, 0% 95.6117596216%);
    transform: translate(-1.4081337648%, 1.9086318569%);
  }
  2.5% {
    -webkit-clip-path: polygon(0% 53.739492145%, 100% 53.739492145%, 100% 99.8679467322%, 0% 99.8679467322%);
            clip-path: polygon(0% 53.739492145%, 100% 53.739492145%, 100% 99.8679467322%, 0% 99.8679467322%);
    transform: translate(0.6557573297%, -0.338235303%);
  }
  2.6% {
    -webkit-clip-path: polygon(0% 44.5123874754%, 100% 44.5123874754%, 100% 75.252463618%, 0% 75.252463618%);
            clip-path: polygon(0% 44.5123874754%, 100% 44.5123874754%, 100% 75.252463618%, 0% 75.252463618%);
    transform: translate(-0.2185604115%, -0.9971381849%);
  }
  2.7% {
    -webkit-clip-path: polygon(0% 90.4360155418%, 100% 90.4360155418%, 100% 108.9096338588%, 0% 108.9096338588%);
            clip-path: polygon(0% 90.4360155418%, 100% 90.4360155418%, 100% 108.9096338588%, 0% 108.9096338588%);
    transform: translate(-1.8309518283%, -1.8112772153%);
  }
  2.8% {
    -webkit-clip-path: polygon(0% 87.341426004%, 100% 87.341426004%, 100% 108.4556114227%, 0% 108.4556114227%);
            clip-path: polygon(0% 87.341426004%, 100% 87.341426004%, 100% 108.4556114227%, 0% 108.4556114227%);
    transform: translate(1.3176214152%, -1.4681064499%);
  }
  2.9% {
    -webkit-clip-path: polygon(0% 42.2338676769%, 100% 42.2338676769%, 100% 63.1003747319%, 0% 63.1003747319%);
            clip-path: polygon(0% 42.2338676769%, 100% 42.2338676769%, 100% 63.1003747319%, 0% 63.1003747319%);
    transform: translate(-1.89156053%, 0.0692982177%);
  }
  3%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
.report__body__ph .g:before {
  background: #0f0;
}
.report__body__ph .b {
  -webkit-animation: glitch-three 2s linear infinite alternate both;
          animation: glitch-three 2s linear infinite alternate both;
}
@-webkit-keyframes glitch-three {
  0% {
    -webkit-clip-path: polygon(0% 23.8169919333%, 100% 23.8169919333%, 100% 25.3400044403%, 0% 25.3400044403%);
            clip-path: polygon(0% 23.8169919333%, 100% 23.8169919333%, 100% 25.3400044403%, 0% 25.3400044403%);
    transform: translate(-1.9462884717%, -0.5144565723%);
  }
  0.1% {
    -webkit-clip-path: polygon(0% 99.4062141562%, 100% 99.4062141562%, 100% 126.3597938746%, 0% 126.3597938746%);
            clip-path: polygon(0% 99.4062141562%, 100% 99.4062141562%, 100% 126.3597938746%, 0% 126.3597938746%);
    transform: translate(1.1858842395%, -1.4392608432%);
  }
  0.2% {
    -webkit-clip-path: polygon(0% 54.8906015472%, 100% 54.8906015472%, 100% 69.6663076626%, 0% 69.6663076626%);
            clip-path: polygon(0% 54.8906015472%, 100% 54.8906015472%, 100% 69.6663076626%, 0% 69.6663076626%);
    transform: translate(0.2458430618%, -1.706234048%);
  }
  0.3% {
    -webkit-clip-path: polygon(0% 62.9160909168%, 100% 62.9160909168%, 100% 80.6151582484%, 0% 80.6151582484%);
            clip-path: polygon(0% 62.9160909168%, 100% 62.9160909168%, 100% 80.6151582484%, 0% 80.6151582484%);
    transform: translate(-1.5619745662%, -0.6065201422%);
  }
  0.4% {
    -webkit-clip-path: polygon(0% 36.6936814407%, 100% 36.6936814407%, 100% 45.3744774191%, 0% 45.3744774191%);
            clip-path: polygon(0% 36.6936814407%, 100% 36.6936814407%, 100% 45.3744774191%, 0% 45.3744774191%);
    transform: translate(-0.2206478041%, -0.3555182498%);
  }
  0.5% {
    -webkit-clip-path: polygon(0% 68.949516507%, 100% 68.949516507%, 100% 99.1285036044%, 0% 99.1285036044%);
            clip-path: polygon(0% 68.949516507%, 100% 68.949516507%, 100% 99.1285036044%, 0% 99.1285036044%);
    transform: translate(-0.8388827392%, 1.1893473233%);
  }
  0.6% {
    -webkit-clip-path: polygon(0% 46.8005292872%, 100% 46.8005292872%, 100% 61.7383246296%, 0% 61.7383246296%);
            clip-path: polygon(0% 46.8005292872%, 100% 46.8005292872%, 100% 61.7383246296%, 0% 61.7383246296%);
    transform: translate(1.713562881%, 0.5933289537%);
  }
  0.7% {
    -webkit-clip-path: polygon(0% 77.8843946377%, 100% 77.8843946377%, 100% 84.5554151877%, 0% 84.5554151877%);
            clip-path: polygon(0% 77.8843946377%, 100% 77.8843946377%, 100% 84.5554151877%, 0% 84.5554151877%);
    transform: translate(-0.9285694988%, -1.3628456854%);
  }
  0.8% {
    -webkit-clip-path: polygon(0% 31.0042159187%, 100% 31.0042159187%, 100% 46.6436874973%, 0% 46.6436874973%);
            clip-path: polygon(0% 31.0042159187%, 100% 31.0042159187%, 100% 46.6436874973%, 0% 46.6436874973%);
    transform: translate(-1.7660126428%, -1.3339617697%);
  }
  0.9% {
    -webkit-clip-path: polygon(0% 12.9490378079%, 100% 12.9490378079%, 100% 44.6250592498%, 0% 44.6250592498%);
            clip-path: polygon(0% 12.9490378079%, 100% 12.9490378079%, 100% 44.6250592498%, 0% 44.6250592498%);
    transform: translate(-0.3644676622%, -1.4514670745%);
  }
  1% {
    -webkit-clip-path: polygon(0% 28.094232658%, 100% 28.094232658%, 100% 51.9264963393%, 0% 51.9264963393%);
            clip-path: polygon(0% 28.094232658%, 100% 28.094232658%, 100% 51.9264963393%, 0% 51.9264963393%);
    transform: translate(-1.9241398788%, 1.3687103466%);
  }
  1.1% {
    -webkit-clip-path: polygon(0% 31.373268509%, 100% 31.373268509%, 100% 67.1074349778%, 0% 67.1074349778%);
            clip-path: polygon(0% 31.373268509%, 100% 31.373268509%, 100% 67.1074349778%, 0% 67.1074349778%);
    transform: translate(0.6945797379%, -0.7943256718%);
  }
  1.2% {
    -webkit-clip-path: polygon(0% 65.1948962238%, 100% 65.1948962238%, 100% 79.1021581052%, 0% 79.1021581052%);
            clip-path: polygon(0% 65.1948962238%, 100% 65.1948962238%, 100% 79.1021581052%, 0% 79.1021581052%);
    transform: translate(-0.4342629877%, 1.4183106378%);
  }
  1.3% {
    -webkit-clip-path: polygon(0% 13.35531011%, 100% 13.35531011%, 100% 34.759530456%, 0% 34.759530456%);
            clip-path: polygon(0% 13.35531011%, 100% 13.35531011%, 100% 34.759530456%, 0% 34.759530456%);
    transform: translate(1.6803329645%, 0.4966817477%);
  }
  1.4% {
    -webkit-clip-path: polygon(0% 64.5861603822%, 100% 64.5861603822%, 100% 94.2201667038%, 0% 94.2201667038%);
            clip-path: polygon(0% 64.5861603822%, 100% 64.5861603822%, 100% 94.2201667038%, 0% 94.2201667038%);
    transform: translate(0.7030675936%, -0.2533877666%);
  }
  1.5% {
    -webkit-clip-path: polygon(0% 38.0017237039%, 100% 38.0017237039%, 100% 43.2170835936%, 0% 43.2170835936%);
            clip-path: polygon(0% 38.0017237039%, 100% 38.0017237039%, 100% 43.2170835936%, 0% 43.2170835936%);
    transform: translate(0.1376395216%, -0.0389156876%);
  }
  1.6% {
    -webkit-clip-path: polygon(0% 95.3940869062%, 100% 95.3940869062%, 100% 103.7528399489%, 0% 103.7528399489%);
            clip-path: polygon(0% 95.3940869062%, 100% 95.3940869062%, 100% 103.7528399489%, 0% 103.7528399489%);
    transform: translate(1.2432032187%, 0.8328306017%);
  }
  1.7% {
    -webkit-clip-path: polygon(0% 57.8276626221%, 100% 57.8276626221%, 100% 100.9573184002%, 0% 100.9573184002%);
            clip-path: polygon(0% 57.8276626221%, 100% 57.8276626221%, 100% 100.9573184002%, 0% 100.9573184002%);
    transform: translate(0.961812092%, 1.9637499058%);
  }
  1.8% {
    -webkit-clip-path: polygon(0% 87.1546938662%, 100% 87.1546938662%, 100% 93.8390134887%, 0% 93.8390134887%);
            clip-path: polygon(0% 87.1546938662%, 100% 87.1546938662%, 100% 93.8390134887%, 0% 93.8390134887%);
    transform: translate(1.0563583396%, -0.2751361424%);
  }
  1.9% {
    -webkit-clip-path: polygon(0% 6.6809622988%, 100% 6.6809622988%, 100% 32.0526007198%, 0% 32.0526007198%);
            clip-path: polygon(0% 6.6809622988%, 100% 6.6809622988%, 100% 32.0526007198%, 0% 32.0526007198%);
    transform: translate(1.6496608404%, 1.1748310885%);
  }
  2% {
    -webkit-clip-path: polygon(0% 90.3586479815%, 100% 90.3586479815%, 100% 108.9013419454%, 0% 108.9013419454%);
            clip-path: polygon(0% 90.3586479815%, 100% 90.3586479815%, 100% 108.9013419454%, 0% 108.9013419454%);
    transform: translate(-0.5619211774%, 0.3651049453%);
  }
  2.1% {
    -webkit-clip-path: polygon(0% 10.6931068023%, 100% 10.6931068023%, 100% 52.8338927836%, 0% 52.8338927836%);
            clip-path: polygon(0% 10.6931068023%, 100% 10.6931068023%, 100% 52.8338927836%, 0% 52.8338927836%);
    transform: translate(-1.6040020791%, -1.470863375%);
  }
  2.2% {
    -webkit-clip-path: polygon(0% 52.6724546366%, 100% 52.6724546366%, 100% 60.4335937114%, 0% 60.4335937114%);
            clip-path: polygon(0% 52.6724546366%, 100% 52.6724546366%, 100% 60.4335937114%, 0% 60.4335937114%);
    transform: translate(0.174378482%, -0.4512229946%);
  }
  2.3% {
    -webkit-clip-path: polygon(0% 52.222125862%, 100% 52.222125862%, 100% 94.0022543269%, 0% 94.0022543269%);
            clip-path: polygon(0% 52.222125862%, 100% 52.222125862%, 100% 94.0022543269%, 0% 94.0022543269%);
    transform: translate(0.4845317895%, 0.0523299153%);
  }
  2.4% {
    -webkit-clip-path: polygon(0% 97.1320378106%, 100% 97.1320378106%, 100% 120.5869796556%, 0% 120.5869796556%);
            clip-path: polygon(0% 97.1320378106%, 100% 97.1320378106%, 100% 120.5869796556%, 0% 120.5869796556%);
    transform: translate(-0.9421988459%, 1.7777813806%);
  }
  2.5% {
    -webkit-clip-path: polygon(0% 94.5103915187%, 100% 94.5103915187%, 100% 111.169922358%, 0% 111.169922358%);
            clip-path: polygon(0% 94.5103915187%, 100% 94.5103915187%, 100% 111.169922358%, 0% 111.169922358%);
    transform: translate(1.022999468%, 0.5994750093%);
  }
  2.6% {
    -webkit-clip-path: polygon(0% 89.7614540036%, 100% 89.7614540036%, 100% 113.172873566%, 0% 113.172873566%);
            clip-path: polygon(0% 89.7614540036%, 100% 89.7614540036%, 100% 113.172873566%, 0% 113.172873566%);
    transform: translate(-0.1368375274%, 1.7816223804%);
  }
  2.7% {
    -webkit-clip-path: polygon(0% 45.8941929169%, 100% 45.8941929169%, 100% 58.5638100808%, 0% 58.5638100808%);
            clip-path: polygon(0% 45.8941929169%, 100% 45.8941929169%, 100% 58.5638100808%, 0% 58.5638100808%);
    transform: translate(-1.6758001499%, -0.9953520745%);
  }
  2.8% {
    -webkit-clip-path: polygon(0% 62.5611896095%, 100% 62.5611896095%, 100% 110.6967607602%, 0% 110.6967607602%);
            clip-path: polygon(0% 62.5611896095%, 100% 62.5611896095%, 100% 110.6967607602%, 0% 110.6967607602%);
    transform: translate(1.1338899713%, -0.5957091319%);
  }
  2.9% {
    -webkit-clip-path: polygon(0% 70.7388775586%, 100% 70.7388775586%, 100% 89.0917847284%, 0% 89.0917847284%);
            clip-path: polygon(0% 70.7388775586%, 100% 70.7388775586%, 100% 89.0917847284%, 0% 89.0917847284%);
    transform: translate(1.4751978849%, 1.8616478218%);
  }
  3%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
@keyframes glitch-three {
  0% {
    -webkit-clip-path: polygon(0% 23.8169919333%, 100% 23.8169919333%, 100% 25.3400044403%, 0% 25.3400044403%);
            clip-path: polygon(0% 23.8169919333%, 100% 23.8169919333%, 100% 25.3400044403%, 0% 25.3400044403%);
    transform: translate(-1.9462884717%, -0.5144565723%);
  }
  0.1% {
    -webkit-clip-path: polygon(0% 99.4062141562%, 100% 99.4062141562%, 100% 126.3597938746%, 0% 126.3597938746%);
            clip-path: polygon(0% 99.4062141562%, 100% 99.4062141562%, 100% 126.3597938746%, 0% 126.3597938746%);
    transform: translate(1.1858842395%, -1.4392608432%);
  }
  0.2% {
    -webkit-clip-path: polygon(0% 54.8906015472%, 100% 54.8906015472%, 100% 69.6663076626%, 0% 69.6663076626%);
            clip-path: polygon(0% 54.8906015472%, 100% 54.8906015472%, 100% 69.6663076626%, 0% 69.6663076626%);
    transform: translate(0.2458430618%, -1.706234048%);
  }
  0.3% {
    -webkit-clip-path: polygon(0% 62.9160909168%, 100% 62.9160909168%, 100% 80.6151582484%, 0% 80.6151582484%);
            clip-path: polygon(0% 62.9160909168%, 100% 62.9160909168%, 100% 80.6151582484%, 0% 80.6151582484%);
    transform: translate(-1.5619745662%, -0.6065201422%);
  }
  0.4% {
    -webkit-clip-path: polygon(0% 36.6936814407%, 100% 36.6936814407%, 100% 45.3744774191%, 0% 45.3744774191%);
            clip-path: polygon(0% 36.6936814407%, 100% 36.6936814407%, 100% 45.3744774191%, 0% 45.3744774191%);
    transform: translate(-0.2206478041%, -0.3555182498%);
  }
  0.5% {
    -webkit-clip-path: polygon(0% 68.949516507%, 100% 68.949516507%, 100% 99.1285036044%, 0% 99.1285036044%);
            clip-path: polygon(0% 68.949516507%, 100% 68.949516507%, 100% 99.1285036044%, 0% 99.1285036044%);
    transform: translate(-0.8388827392%, 1.1893473233%);
  }
  0.6% {
    -webkit-clip-path: polygon(0% 46.8005292872%, 100% 46.8005292872%, 100% 61.7383246296%, 0% 61.7383246296%);
            clip-path: polygon(0% 46.8005292872%, 100% 46.8005292872%, 100% 61.7383246296%, 0% 61.7383246296%);
    transform: translate(1.713562881%, 0.5933289537%);
  }
  0.7% {
    -webkit-clip-path: polygon(0% 77.8843946377%, 100% 77.8843946377%, 100% 84.5554151877%, 0% 84.5554151877%);
            clip-path: polygon(0% 77.8843946377%, 100% 77.8843946377%, 100% 84.5554151877%, 0% 84.5554151877%);
    transform: translate(-0.9285694988%, -1.3628456854%);
  }
  0.8% {
    -webkit-clip-path: polygon(0% 31.0042159187%, 100% 31.0042159187%, 100% 46.6436874973%, 0% 46.6436874973%);
            clip-path: polygon(0% 31.0042159187%, 100% 31.0042159187%, 100% 46.6436874973%, 0% 46.6436874973%);
    transform: translate(-1.7660126428%, -1.3339617697%);
  }
  0.9% {
    -webkit-clip-path: polygon(0% 12.9490378079%, 100% 12.9490378079%, 100% 44.6250592498%, 0% 44.6250592498%);
            clip-path: polygon(0% 12.9490378079%, 100% 12.9490378079%, 100% 44.6250592498%, 0% 44.6250592498%);
    transform: translate(-0.3644676622%, -1.4514670745%);
  }
  1% {
    -webkit-clip-path: polygon(0% 28.094232658%, 100% 28.094232658%, 100% 51.9264963393%, 0% 51.9264963393%);
            clip-path: polygon(0% 28.094232658%, 100% 28.094232658%, 100% 51.9264963393%, 0% 51.9264963393%);
    transform: translate(-1.9241398788%, 1.3687103466%);
  }
  1.1% {
    -webkit-clip-path: polygon(0% 31.373268509%, 100% 31.373268509%, 100% 67.1074349778%, 0% 67.1074349778%);
            clip-path: polygon(0% 31.373268509%, 100% 31.373268509%, 100% 67.1074349778%, 0% 67.1074349778%);
    transform: translate(0.6945797379%, -0.7943256718%);
  }
  1.2% {
    -webkit-clip-path: polygon(0% 65.1948962238%, 100% 65.1948962238%, 100% 79.1021581052%, 0% 79.1021581052%);
            clip-path: polygon(0% 65.1948962238%, 100% 65.1948962238%, 100% 79.1021581052%, 0% 79.1021581052%);
    transform: translate(-0.4342629877%, 1.4183106378%);
  }
  1.3% {
    -webkit-clip-path: polygon(0% 13.35531011%, 100% 13.35531011%, 100% 34.759530456%, 0% 34.759530456%);
            clip-path: polygon(0% 13.35531011%, 100% 13.35531011%, 100% 34.759530456%, 0% 34.759530456%);
    transform: translate(1.6803329645%, 0.4966817477%);
  }
  1.4% {
    -webkit-clip-path: polygon(0% 64.5861603822%, 100% 64.5861603822%, 100% 94.2201667038%, 0% 94.2201667038%);
            clip-path: polygon(0% 64.5861603822%, 100% 64.5861603822%, 100% 94.2201667038%, 0% 94.2201667038%);
    transform: translate(0.7030675936%, -0.2533877666%);
  }
  1.5% {
    -webkit-clip-path: polygon(0% 38.0017237039%, 100% 38.0017237039%, 100% 43.2170835936%, 0% 43.2170835936%);
            clip-path: polygon(0% 38.0017237039%, 100% 38.0017237039%, 100% 43.2170835936%, 0% 43.2170835936%);
    transform: translate(0.1376395216%, -0.0389156876%);
  }
  1.6% {
    -webkit-clip-path: polygon(0% 95.3940869062%, 100% 95.3940869062%, 100% 103.7528399489%, 0% 103.7528399489%);
            clip-path: polygon(0% 95.3940869062%, 100% 95.3940869062%, 100% 103.7528399489%, 0% 103.7528399489%);
    transform: translate(1.2432032187%, 0.8328306017%);
  }
  1.7% {
    -webkit-clip-path: polygon(0% 57.8276626221%, 100% 57.8276626221%, 100% 100.9573184002%, 0% 100.9573184002%);
            clip-path: polygon(0% 57.8276626221%, 100% 57.8276626221%, 100% 100.9573184002%, 0% 100.9573184002%);
    transform: translate(0.961812092%, 1.9637499058%);
  }
  1.8% {
    -webkit-clip-path: polygon(0% 87.1546938662%, 100% 87.1546938662%, 100% 93.8390134887%, 0% 93.8390134887%);
            clip-path: polygon(0% 87.1546938662%, 100% 87.1546938662%, 100% 93.8390134887%, 0% 93.8390134887%);
    transform: translate(1.0563583396%, -0.2751361424%);
  }
  1.9% {
    -webkit-clip-path: polygon(0% 6.6809622988%, 100% 6.6809622988%, 100% 32.0526007198%, 0% 32.0526007198%);
            clip-path: polygon(0% 6.6809622988%, 100% 6.6809622988%, 100% 32.0526007198%, 0% 32.0526007198%);
    transform: translate(1.6496608404%, 1.1748310885%);
  }
  2% {
    -webkit-clip-path: polygon(0% 90.3586479815%, 100% 90.3586479815%, 100% 108.9013419454%, 0% 108.9013419454%);
            clip-path: polygon(0% 90.3586479815%, 100% 90.3586479815%, 100% 108.9013419454%, 0% 108.9013419454%);
    transform: translate(-0.5619211774%, 0.3651049453%);
  }
  2.1% {
    -webkit-clip-path: polygon(0% 10.6931068023%, 100% 10.6931068023%, 100% 52.8338927836%, 0% 52.8338927836%);
            clip-path: polygon(0% 10.6931068023%, 100% 10.6931068023%, 100% 52.8338927836%, 0% 52.8338927836%);
    transform: translate(-1.6040020791%, -1.470863375%);
  }
  2.2% {
    -webkit-clip-path: polygon(0% 52.6724546366%, 100% 52.6724546366%, 100% 60.4335937114%, 0% 60.4335937114%);
            clip-path: polygon(0% 52.6724546366%, 100% 52.6724546366%, 100% 60.4335937114%, 0% 60.4335937114%);
    transform: translate(0.174378482%, -0.4512229946%);
  }
  2.3% {
    -webkit-clip-path: polygon(0% 52.222125862%, 100% 52.222125862%, 100% 94.0022543269%, 0% 94.0022543269%);
            clip-path: polygon(0% 52.222125862%, 100% 52.222125862%, 100% 94.0022543269%, 0% 94.0022543269%);
    transform: translate(0.4845317895%, 0.0523299153%);
  }
  2.4% {
    -webkit-clip-path: polygon(0% 97.1320378106%, 100% 97.1320378106%, 100% 120.5869796556%, 0% 120.5869796556%);
            clip-path: polygon(0% 97.1320378106%, 100% 97.1320378106%, 100% 120.5869796556%, 0% 120.5869796556%);
    transform: translate(-0.9421988459%, 1.7777813806%);
  }
  2.5% {
    -webkit-clip-path: polygon(0% 94.5103915187%, 100% 94.5103915187%, 100% 111.169922358%, 0% 111.169922358%);
            clip-path: polygon(0% 94.5103915187%, 100% 94.5103915187%, 100% 111.169922358%, 0% 111.169922358%);
    transform: translate(1.022999468%, 0.5994750093%);
  }
  2.6% {
    -webkit-clip-path: polygon(0% 89.7614540036%, 100% 89.7614540036%, 100% 113.172873566%, 0% 113.172873566%);
            clip-path: polygon(0% 89.7614540036%, 100% 89.7614540036%, 100% 113.172873566%, 0% 113.172873566%);
    transform: translate(-0.1368375274%, 1.7816223804%);
  }
  2.7% {
    -webkit-clip-path: polygon(0% 45.8941929169%, 100% 45.8941929169%, 100% 58.5638100808%, 0% 58.5638100808%);
            clip-path: polygon(0% 45.8941929169%, 100% 45.8941929169%, 100% 58.5638100808%, 0% 58.5638100808%);
    transform: translate(-1.6758001499%, -0.9953520745%);
  }
  2.8% {
    -webkit-clip-path: polygon(0% 62.5611896095%, 100% 62.5611896095%, 100% 110.6967607602%, 0% 110.6967607602%);
            clip-path: polygon(0% 62.5611896095%, 100% 62.5611896095%, 100% 110.6967607602%, 0% 110.6967607602%);
    transform: translate(1.1338899713%, -0.5957091319%);
  }
  2.9% {
    -webkit-clip-path: polygon(0% 70.7388775586%, 100% 70.7388775586%, 100% 89.0917847284%, 0% 89.0917847284%);
            clip-path: polygon(0% 70.7388775586%, 100% 70.7388775586%, 100% 89.0917847284%, 0% 89.0917847284%);
    transform: translate(1.4751978849%, 1.8616478218%);
  }
  3%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
.report__body__ph .b:before {
  background: #00f;
}

.restpoint {
  aspect-ratio: 12/16;
  background: url(https://fate-strange-fake.com/assets/img/page/report/ico_restpoint.svg) no-repeat 0 0/100%;
  margin: min(5.2083333333vw, 20px) auto;
  width: 12px;
}
@media (min-width: 1024px) {
  .restpoint {
    margin: 35px auto;
    width: 12px;
  }
}