.special__inner {
  grid-column: 2/12;
}
@media (min-width: 1024px) {
  .special__inner {
    grid-column: 4/23;
    margin: 0 auto;
    max-width: 1520px;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .special__grid {
    gap: min(3.3333333333vw, 64px) 2.0833333333vw;
  }
}