.staffcast .l-pageheader {
  padding-bottom: 0;
}

.staffcast__inner {
  grid-column: 2/12;
}
@media (min-width: 1024px) {
  .staffcast__inner {
    grid-column: 4/23;
    margin-bottom: 50px;
  }
}

.staffcast__list {
  display: flex;
  flex-wrap: wrap;
}

.staffcast__ttl {
  border-bottom: 1px solid #000;
  font-weight: 500;
  line-height: 1;
  margin-bottom: -0.5rem;
  padding-bottom: 1rem;
  position: relative;
  font-size: 3.5rem;
}
@media (min-width: 1024px) {
  .staffcast__ttl {
    margin-bottom: -2rem;
    margin-left: -4.1666666667vw;
    padding-bottom: 0.75rem;
    font-size: 3.75rem;
  }
}
.staffcast__ttl.-cast {
  margin-top: 5rem;
}
@media (min-width: 1024px) {
  .staffcast__ttl.-cast {
    margin-top: 5.5rem;
  }
}

.staffcast__subttl {
  font-weight: 700;
  line-height: 1;
  margin-top: 2.5rem;
  position: relative;
  font-size: 0.875rem;
}
@media (min-width: 1024px) {
  .staffcast__subttl {
    margin-bottom: -2rem;
    margin-top: 4rem;
    font-size: 1rem;
  }
}
.staffcast__subttl span {
  color: rgba(0, 0, 0, 0);
  position: relative;
}
.staffcast__subttl span:after {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
  content: "";
  height: 100%;
  width: 100%;
}
.staffcast__subttl.-reveal span {
  color: rgb(0, 0, 0);
  transition: color 0.2s 0.5s ease;
}
.staffcast__subttl.-reveal span:after {
  -webkit-animation: itemcurtain 1s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
          animation: itemcurtain 1s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}

@-webkit-keyframes itemcurtain {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  50% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
  }
}

@keyframes itemcurtain {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  50% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
  }
}
.staffcast__list__item {
  margin-top: 2.2rem;
  width: 50%;
}
@media (min-width: 1024px) {
  .staffcast__list__item {
    margin-top: 4rem;
    width: 19.375vw;
  }
}
.staffcast__list__item.-full {
  width: 100%;
}
.staffcast__list__item dl {
  display: inline-block;
  position: relative;
}
.staffcast__list__item dl:after {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
  content: "";
  height: 100%;
  width: 100%;
}
.staffcast__list__item.-reveal dl:after {
  -webkit-animation: itemcurtain 1s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
          animation: itemcurtain 1s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}
.staffcast__list__item.-reveal dt, .staffcast__list__item.-reveal dd {
  opacity: 1;
  transition: opacity 0.2s 0.5s ease;
}
.staffcast__list__item dt {
  font-size: 1.125rem;
  line-height: 1.2;
  opacity: 0;
}
@media (min-width: 1024px) {
  .staffcast__list__item dt {
    font-size: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .staffcast__list__item dt {
    font-size: 1.3125rem;
    line-height: 1.2;
    opacity: 0;
  }
}
.staffcast__list__item dd {
  font-size: 1.4375rem;
  font-weight: 500;
  margin-top: 0.2rem;
  line-height: 1.4;
  opacity: 0;
}
@media (min-width: 1024px) {
  .staffcast__list__item dd {
    font-size: min(1.6666666667vw, 23px);
    line-height: 1.5;
    margin-top: 0.2rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .staffcast__list__item dd {
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: 0.4rem;
    line-height: 1.2;
    opacity: 0;
  }
}
.staffcast__list__item .origin {
  display: block;
  font-size: 70%;
  line-height: 1.3;
}
.staffcast__list__item .musicttl {
  display: block;
  font-size: 130%;
  line-height: 1;
  margin: 0.5em 0 0.2em;
}
.staffcast__list__item .fuki {
  background: url(../../img/page/top/staffcast/ico_fuki.svg) no-repeat 0 0/100%;
  display: inline-block;
  height: 1.3em;
  line-height: 1;
  margin-left: 0.25em;
  transform: translate(0, 25%);
  transition: transform 0.2s 0s ease;
  width: 1.1em;
}
.staffcast__list__item .item + .item {
  margin-top: 1.25em;
}
@media (min-width: 1024px) {
  .staffcast__list__item .item + .item {
    margin-top: 3.5rem;
  }
}

.js-modal_open dd {
  margin-top: 0rem;
}

@media (max-width: 768px) {
  [data-modalid=comment_director] dd {
    margin-top: 0.4rem;
  }
}
@media (min-width: 1024px) {
  [data-modalid=comment_director] dd {
    margin-top: 0.4rem;
  }
}
@media (min-width: 1024px) {
  .js-modal_open:hover .fuki {
    transform: translate(0, 25%) scale(1.2);
  }
}

.comment_modal {
  color: #dc0000;
  padding: 5rem 8.3333333333vw;
}
@media (min-width: 1024px) {
  .comment_modal {
    padding: 7.5rem 4.1666666667vw;
  }
}

@-webkit-keyframes modallineanim {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes modallineanim {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@-webkit-keyframes modaltxtanim {
  0% {
    opacity: 0;
    transform: translate(0, 10%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes modaltxtanim {
  0% {
    opacity: 0;
    transform: translate(0, 10%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.comment_modal__inanim {
  opacity: 0;
}
.-active .comment_modal__inanim {
  -webkit-animation: modaltxtanim 0.3s 0.6s ease forwards;
          animation: modaltxtanim 0.3s 0.6s ease forwards;
}

.comment_modal__catch {
  align-items: center;
  display: flex;
  font-weight: 500;
  justify-content: center;
  line-height: 1;
  line-height: 1.2;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.comment_modal__catch::before, .comment_modal__catch::after {
  border-bottom: solid 1px;
  border-color: #dc0000;
  border-top: solid 1px;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transform: translate(0, 150%);
  transition: transform 0.3s 0.6s ease;
}
.comment_modal__catch::before {
  border-left: solid 1px;
  left: 0;
}
.comment_modal__catch::after {
  border-right: solid 1px;
  right: 0;
}
.comment_modal__catch span {
  display: inline-block;
  transform: translate(0, 150%);
  transition: transform 0.3s 0.6s ease;
}
.-active .comment_modal__catch::before, .-active .comment_modal__catch::after {
  transform: translate(0, 0);
}
.-active .comment_modal__catch span {
  transform: translate(0, 0);
}
@media (max-width: 1023px) {
  .comment_modal__catch {
    font-size: min(3.90625vw, 15px);
    margin-bottom: min(11.71875vw, 45px);
    min-height: min(9.1145833333vw, 35px);
    width: min(72.265625vw, 277.5px);
  }
  .comment_modal__catch.-mt {
    margin-top: min(13.5416666667vw, 52px);
  }
  .comment_modal__catch span {
    padding-left: min(3.90625vw, 15px);
    padding-right: min(3.90625vw, 15px);
  }
  .comment_modal__catch::before, .comment_modal__catch::after {
    width: min(1.3020833333vw, 15px);
  }
}
@media (min-width: 1024px) {
  .comment_modal__catch {
    font-size: 1.25rem;
    margin-bottom: 54px;
    min-height: 40px;
    width: 530px;
  }
  .comment_modal__catch.-mt {
    margin-top: 100px;
  }
  .comment_modal__body + .comment_modal__catch.-mt {
    margin-top: 164px;
  }
  .comment_modal__catch span {
    padding-left: 16px;
    padding-right: 16px;
  }
  .comment_modal__catch::before, .comment_modal__catch::after {
    width: 6px;
  }
}

.comment_modal__role {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}
@media (min-width: 1024px) {
  .comment_modal__role {
    font-size: 1rem;
  }
}
@media (max-width: 1023px) {
  .comment_modal__role.-mt {
    margin-top: 3.5rem;
  }
}

.comment_modal__name {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.08em;
  line-height: 1;
  margin-top: 0.5rem;
  text-align: center;
}
@media (min-width: 1024px) {
  .comment_modal__name {
    font-size: 2.5rem;
  }
}
.comment_modal__name span {
  display: inline-block;
  overflow: hidden;
  padding-bottom: 1rem;
  position: relative;
}
.comment_modal__name span::after {
  background: #dc0000;
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (min-width: 1024px) {
  .comment_modal__name span::after {
    height: 6px;
  }
}
.comment_modal__name.-nols {
  letter-spacing: 0;
}
.comment_modal__name em {
  display: inline-block;
  font-style: normal;
  transform: translate(0, 150%);
}
.-active .comment_modal__name span:after {
  -webkit-animation: modallineanim 0.6s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
          animation: modallineanim 0.6s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}
.-active .comment_modal__name em {
  transform: translate(0, 0);
  transition: transform 0.3s 0.6s ease;
}

.comment_modal__body {
  font-weight: 500;
  line-height: 2.3571428571;
  margin: 3.5rem auto 0;
  max-width: 640px;
  padding: 2rem 8.3333333333vw;
  position: relative;
  text-align: justify;
  font-size: 0.875rem;
}
@media (min-width: 1024px) {
  .comment_modal__body {
    font-size: 1.125rem;
    margin: 4.5rem auto 0;
    padding: 3.5rem 56px;
  }
}
.comment_modal__body:before, .comment_modal__body:after {
  background: #dc0000;
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.-active .comment_modal__body:before, .-active .comment_modal__body:after {
  -webkit-animation: modallineanim 0.6s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
          animation: modallineanim 0.6s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}
.comment_modal__body:after {
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
}
@media (min-width: 1024px) {
  .comment_modal__body.-minh_wide {
    min-height: 622px;
  }
}
.comment_modal__body.-en {
  font-size: 0.9375rem;
}
@media (min-width: 1024px) {
  .comment_modal__body.-en {
    font-size: 1.25rem;
  }
}
.comment_modal__body .translation {
  display: block;
  font-size: 80%;
  line-height: 2;
  margin-top: 1rem;
}

@media (min-width: 1024px) {
  .comment_modal__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .comment_modal__row article {
    margin: 0 16px 4.5rem;
  }
}

@media (max-width: 1023px) {
  .comment_modal__note {
    font-size: 0.8125rem;
    line-height: 1.3846153846;
    margin-top: min(4.1666666667vw, 16px);
  }
}
@media (min-width: 1024px) {
  .comment_modal__note {
    font-size: 0.875rem;
    line-height: 1.5714285714;
    margin: 24px auto 0;
    max-width: 640px;
    width: 100%;
  }
}