@-webkit-keyframes clipIn {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
@keyframes clipIn {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.valentine-container {
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .valentine-container {
    width: 87.7604166667vw;
  }
}
@media (min-width: 1024px) {
  .valentine-container {
    width: min(960px, 50vw);
  }
}

.valentine__head {
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
}
.valentine__head.-reveal {
  -webkit-animation: clipIn 0.8s 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
          animation: clipIn 0.8s 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}
@media (max-width: 1023px) {
  .valentine__head {
    margin-left: -6.1197916667vw;
    width: 100vw;
    margin-bottom: min(10.0260416667vw, 38px);
  }
}
@media (min-width: 1024px) {
  .valentine__head {
    margin-bottom: 49px;
  }
}

.valentine__lead {
  font-weight: 600;
  opacity: 0;
}
.-reveal .valentine__lead {
  -webkit-animation: fade 0.5s 1s forwards;
          animation: fade 0.5s 1s forwards;
}
@media (max-width: 1023px) {
  .valentine__lead {
    font-size: min(4.4270833333vw, 17px);
    line-height: 1.5294117647;
  }
}
@media (min-width: 1024px) {
  .valentine__lead {
    font-size: min(26px, 1.3541666667vw);
    line-height: 1.6923076923;
    text-align: center;
  }
}
@media (max-width: 1023px) {
  .valentine__lead:last-of-type {
    margin-top: 4.1666666667vw;
  }
}
@media (min-width: 1024px) {
  .valentine__lead:last-of-type {
    margin-top: 28px;
  }
}
.valentine__lead em {
  font-style: normal;
  color: #e5ae2e;
  display: inline-block;
  line-height: 1;
  position: relative;
}
@media (max-width: 1023px) {
  .valentine__lead em {
    font-size: min(5.9895833333vw, 23px);
    letter-spacing: -0.03em;
    padding: 0.1em 0.1em 0.2em;
  }
}
@media (min-width: 1024px) {
  .valentine__lead em {
    font-size: min(38px, 1.9791666667vw);
    padding: 0.2em;
  }
}
.valentine__lead em::before {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  content: "";
  height: 100%;
  width: 100%;
  z-index: -1;
}

.valentine__narrow {
  opacity: 0;
}
.-reveal .valentine__narrow {
  -webkit-animation: fade 0.5s 1s forwards;
          animation: fade 0.5s 1s forwards;
}
@media (max-width: 1023px) {
  .valentine__narrow {
    margin-top: 4.1666666667vw;
  }
}
@media (min-width: 1024px) {
  .valentine__narrow {
    margin: min(46px, 2.3958333333vw) auto 0;
  }
}

.valentine__note {
  display: block;
  font-weight: 400;
}
@media (max-width: 1023px) {
  .valentine__note {
    font-size: min(3.6458333333vw, 14px);
    line-height: 1.4285714286;
  }
}
@media (min-width: 1024px) {
  .valentine__note {
    font-size: min(18px, 0.9375vw);
    line-height: 1.5555555556;
    width: calc(100% + min(40px, 2.0833333333vw));
  }
}
@media (min-width: 1024px) {
  .valentine__narrow .valentine__note {
    margin: 0 min(-20px, -1.0416666667vw);
  }
}
.valentine__note a {
  text-decoration: underline;
}

@media (max-width: 1023px) {
  .valentine__dl {
    margin-top: 11.5885416667vw;
  }
}
@media (min-width: 1024px) {
  .valentine__dl {
    margin: min(80px, 4.1666666667vw) auto 0;
    width: min(768px, 40vw);
  }
}
.valentine__dl dt {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  font-weight: 700;
}
@media (max-width: 1023px) {
  .valentine__dl dt {
    font-size: min(3.90625vw, 15px);
    padding-bottom: min(3.2552083333vw, 13px);
  }
  .valentine__dl dt.-mt {
    margin-top: min(11.9791666667vw, 50px);
  }
}
@media (min-width: 1024px) {
  .valentine__dl dt {
    font-size: min(20px, 1.0416666667vw);
    padding-bottom: min(14px, 0.7291666667vw);
  }
  .valentine__dl dt.-mt {
    margin-top: min(86px, 4.4791666667vw);
  }
}
.valentine__dl dd {
  font-weight: 900;
}
@media (max-width: 1023px) {
  .valentine__dl dd {
    margin-top: min(2.6041666667vw, 10px);
    font-size: min(4.1666666667vw, 16px);
    line-height: 1.3333333333;
  }
}
@media (min-width: 1024px) {
  .valentine__dl dd {
    margin-top: min(26px, 1.3541666667vw);
    font-size: min(24px, 1.25vw);
    line-height: 1;
  }
}

.valentine__contents {
  opacity: 0;
}
.valentine__contents.-reveal {
  -webkit-animation: fade 0.5s 0s forwards;
          animation: fade 0.5s 0s forwards;
}
@media (max-width: 1023px) {
  .valentine__contents {
    margin-top: min(12.2395833333vw, 47px);
  }
}
@media (min-width: 1024px) {
  .valentine__contents {
    margin: min(93px, 4.84375vw) auto 0;
  }
  .valentine__contents .c-visible_nrw {
    display: none;
  }
}

.valentine__label {
  background-color: #000;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (max-width: 1023px) {
  .valentine__label {
    font-size: min(3.6458333333vw, 14px);
    width: 100%;
    line-height: 1.4666666667;
    padding: min(40px, 2.0833333333vw) 0;
  }
}
@media (min-width: 1024px) {
  .valentine__label {
    font-size: min(22px, 1.1458333333vw);
    width: 100%;
    line-height: 1;
    padding: min(10px, 0.5208333333vw) 0;
  }
}
.valentine__label span {
  display: block;
  position: relative;
  color: #fff;
  font-weight: 600;
  line-height: 1.3636363636;
}
@media (max-width: 1023px) {
  .valentine__label span {
    padding: 0 min(2.8645833333vw, 11px);
  }
}
@media (min-width: 1024px) {
  .valentine__label span {
    padding: 0 min(30px, 1.5625vw);
  }
}
.valentine__label span::before, .valentine__label span::after {
  background: url("https://fate-strange-fake.com/assets/img/page/special/valentine/icon_heart.svg") no-repeat center/contain;
  content: "";
  transform: translateY(-50%);
}
@media (max-width: 1023px) {
  .valentine__label span::before, .valentine__label span::after {
    width: min(3.7760416667vw, 15px);
    height: min(2.8645833333vw, 11px);
  }
}
@media (min-width: 1024px) {
  .valentine__label span::before, .valentine__label span::after {
    width: min(22px, 1.1458333333vw);
    height: min(17px, 0.8854166667vw);
  }
}
@media (max-width: 1023px) {
  .valentine__label span::before {
    position: absolute;
    top: 50%;
    left: min(-8px, -0.4166666667vw);
  }
}
@media (min-width: 1024px) {
  .valentine__label span::before {
    position: absolute;
    top: 50%;
    left: 0;
  }
}
@media (max-width: 1023px) {
  .valentine__label span::after {
    position: absolute;
    top: 50%;
    right: min(-8px, -0.4166666667vw);
  }
}
@media (min-width: 1024px) {
  .valentine__label span::after {
    position: absolute;
    top: 50%;
    right: 0;
  }
}

@media (max-width: 1023px) {
  .valentine__shares {
    margin-top: min(4.1666666667vw, 16px);
  }
}
@media (min-width: 1024px) {
  .valentine__shares {
    margin-top: min(36px, 1.875vw);
  }
}

.valentine__shares {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .valentine__shares {
    gap: min(5.7291666667vw, 22px) 0;
  }
}
@media (min-width: 1024px) {
  .valentine__shares {
    gap: min(5.7291666667vw, 22px) 0;
  }
}

.valentine__share {
  display: block;
}
@media (max-width: 1023px) {
  .valentine__share {
    width: calc((100% - min(2.8645833333vw, 11px)) / 2);
  }
}
@media (min-width: 1024px) {
  .valentine__share {
    width: calc((100% - min(46px, 2.3958333333vw)) / 3);
  }
}

.valentine__ph {
  position: relative;
}
.valentine__ph::after {
  content: "";
  background-image: url("https://fate-strange-fake.com/assets/img/page/special/valentine/icon_x.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1023px) {
  .valentine__ph::after {
    position: absolute;
    bottom: min(0.5208333333vw, 2px);
    right: min(0.5208333333vw, 2px);
    width: min(9.375vw, 36px);
    height: min(9.375vw, 36px);
  }
}
@media (min-width: 1024px) {
  .valentine__ph {
    overflow: hidden;
  }
  .valentine__ph::after {
    position: absolute;
    bottom: min(4px, 0.2083333333vw);
    right: min(4px, 0.2083333333vw);
    width: min(44px, 2.2916666667vw);
    height: min(44px, 2.2916666667vw);
  }
  .valentine__ph img {
    transition: transform 0.3s ease;
  }
  .valentine__ph:hover img {
    transform: scale(1.06);
  }
}

.valentine__name {
  font-weight: 900;
  border-left: 1px solid #000;
}
.valentine__name.-alt {
  white-space: nowrap;
}
@media (max-width: 1023px) {
  .valentine__name {
    padding-left: min(min(18px, 0.9375vw), 9px);
    margin-top: min(2.34375vw, 9px);
    font-size: min(3.6458333333vw, 14px);
    line-height: 1.0714285714;
  }
  .valentine__name .c-visible_wide {
    display: none;
  }
}
@media (min-width: 1024px) {
  .valentine__name {
    padding-left: min(10px, 0.5208333333vw);
    margin-top: min(10px, 0.5208333333vw);
    font-size: min(17px, 0.8854166667vw);
    line-height: 1.0625;
  }
  .valentine__name br {
    display: none;
  }
  .valentine__name.-alt {
    display: flex;
    align-items: center;
    gap: min(12px, 0.625vw);
  }
}

.valentine__close__text {
  line-height: 1;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1023px) {
  .valentine__close__text {
    text-align: center;
    margin: min(12.7604166667vw, 49px) auto 0;
    width: min(87.7604166667vw, 100%);
    height: min(27.34375vw, 105px);
    border: min(1.5625vw, 6px) solid #000;
    font-size: min(7.03125vw, 27px);
    line-height: 1.1851851852;
  }
}
@media (min-width: 1024px) {
  .valentine__close__text {
    margin: min(80px, 4.1666666667vw) auto 0;
    width: min(756px, 39.375vw);
    height: min(83px, 4.3229166667vw);
    border: min(6px, 0.3125vw) solid #000;
    font-size: min(38px, 1.9791666667vw);
  }
}